/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}







/* Header */
header {
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    z-index: 9999;
    background-color: #fff;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.logo {
    width: 30%;
}
.logo a {
    color: #F5C542;
    font-size: 36px;
}
.search-area {
    width: 30%;
    display: flex;
    justify-content: center;
}
#search-form {
    height: 35px;
    width: 80%;
}
#search-form input {
    width: calc(100% - 56px);
    vertical-align: bottom;
    height: 35px;
    border-radius: 5% 0 0 5%;
    padding-left: 10px; 
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: none;
    font-size: 14px;
}
#search-form button {
    background-color: #E3E3E3;
    height: 37px;
    width: 35px;
    border: none;
    margin-left: -9px;
    border-radius: 0 5% 5% 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: none;
}
#search-form input:focus-visible {
    outline: auto #545aff;
}
#search-form button:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}
.svg-microphone:hover,
.notification-svg:hover {
    cursor: pointer;
    opacity: 0.5;
}
.svg-microphone {
    margin-top: 3px;
    margin-left: 10px;
}
.users-tools {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.avatar {
    margin-left: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F5C542;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.avatar:hover {
    cursor: pointer;
    background-color: #c2c2c2;
}
.drop-down {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 120px;   
}
.hidden-area {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 20px;
}
.drop-down ul {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.drop-down ul li {
    height: 40px;
}
.drop-down ul li:hover {
    background-color: #E3E3E3;
}
.drop-down ul li:last-child a {
    color: #D8000C;
    border-top: 1px solid #E3E3E3;
}
.drop-down ul li a {
    padding: 5px 10px;
    display: block;
    height: 30px;
    display: flex;
    align-items: center;
}
.drop-down ul li a svg {
    margin-right: 10px;
}
.avatar:hover .drop-down {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}

/* MEDIE QUERIES */
@media (max-width: 700px) {
    .logo a {
        font-size: 30px;
    }
}