/* LEFT SIDE */
.left-side {
    background-color: #e3e3e3;
    position: fixed;
    height: 100%;
    width: 15%;
}
.streamers-list {
    height: calc(100% - 210px);
    overflow: auto;
    border-bottom: 2px solid white;
    scrollbar-width: none; /* Firefox */
}
.streamers-list::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
.streamers-list-item {
    width: calc(100% - 40px);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.streamers-list-item:hover {
    cursor: pointer;
    background-color: #c2c2c2;
}
.streamers-viewers {
    display: flex;
    align-items: center;
}
.link-to-stream {
    display: block;
}
.active-stream {
    display: block !important;
}
/* Pulse animation */
.pulse-cirle {
    margin-right: 5px;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);

    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}
/* End of the pulse animation*/
.streamer-info {
    width: 68%;
    display: flex;
    align-items: center;
}
.streamer-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.streamer-info a {
    margin-left: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.streamer-info a:hover {
    color: #545aff;
}
.left-side-footer {
    background-color: #c2c2c2;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 7px;
}
.left-side-footer p::selection {
    background: #F5C542;
    color: white;
}
.links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.links a svg path {
    fill: black;
    transition: 0.2s;
}

.links a svg:hover path {
    fill: #0088cc;
}

/* MEDIE QUERIES */
@media (max-width: 1200px) {
    .left-side {
        width: 75px;
    }
    .left-side-footer {
        display: none;
    }
    .streamers-list {
        height: 100%;
    }
    .streamer-info a {
        display: none;
    }
    .streamers-viewers {
        display: none !important;
    }
}