/* WRAPPER */
.wrapper {
    margin-top: 65px;
}

/* RIGHT SIDE */
.right-side {
    width: 85%;
    margin-left: 15%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}
.categories {
    height: 54px;
    display: flex;
    padding: 10px;
    overflow-x: auto;
    scrollbar-width: 0; /* Firefox */
}
.categories::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
.categories li {
    height: 35px;
    border-radius: 50px;
    background-color: #e9e8e8;
    border: 1px solid #c2c2c2;
    margin-right: 15px;
}
.categories li:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}
.categories li a {
    padding: 5px 15px;
    display: block;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
}
.active-category {
    border: none !important;
    background-color: #F5C542 !important;
}
.active-category a {
    color: white;
}


/* SLIDER */
#slider {
    position: relative;
    width: 70%;
    height: 25vw;
    margin: 20px auto 100px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
}
  
input[type=radio] {
    display: none;
}
#slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    transition: transform 400ms ease;
    background-color: #e9e8e8;
}
.slider-preview {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px 0 0 5px;
}
.slider-preview img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    position: absolute;
}
.slider-preview:hover .black-out {
    transition: 0.5s;
    border-radius: 5px 0 0 5px;
    opacity: 1;
}
.slider-video-info {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
.slider-video-info .video-author-avatar {
    margin-right: 15px;
}
.slider-video-info .video-name-and-author .video-author-name {
    color: #949494;
}
.slider-video-description {
    padding: 10px;
    color: #949494;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.slider-video-description::selection {
    background: #F5C542;
    color: white;
}
  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  
  
  




/* VIDEOS */
.videos {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}
.video-preview {
    width: 100%;
    height: 250px;
    position: relative;
}
.video-preview img {
    width: 100%;
    height: 100%;
}
.isLive {
    position: absolute;
    background-color: red;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
    top: 5px;
    left: 5px;
    z-index: 10;
}
.video-duration {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}
.isLive:hover,
.video-duration:hover {
    cursor: pointer;
}
.black-out {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-preview:hover .black-out {
    transition: 0.5s;
    opacity: 1;
}
.video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 0;
}
.video-author-avatar {
    display: flex;
    align-items: center;
}
.video-author-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.video-name-and-author {
    width: calc(100% - 80px);
}
.video-name {
    display: block;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.video-author-name {
    font-size: 14px;
    color: #c2c2c2;
    display: block;
}
.video-name:hover,
.video-author-name:hover {
    color: #545aff !important;
}
.options {
    margin-top: -10px;
}


/* RIGHT SIDE FOOTER */
.right-side-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.right-side-footer p {
    display: inline;
    margin-right: 10px;
}

/* MEDIE QUERIES */
@media (max-width: 1400px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 1200px) {
    .right-side {
        margin-left: 75px;
        width: calc(100% - 75px);
    }
}
@media (max-width: 1000px) {
    .videos {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .videos {
        grid-template-columns: 1fr;
    }
    .logo a {
        font-size: 30px;
    }
    #slider {
        height: 350px;
    }
    #slider label {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .slider-preview {
        height: 200px;
    }
}